# Ignore Python virtual environments
tf-env/
venv*/
__pycache__/
*.pyc
.DS_Store

# Ignore datasets and large files
echo "input/" >> .gitignore
echo "output/" >> .gitignore
echo "output_videos/" >> .gitignore
git add .gitignore
git commit -m "Ignore video folders"